In [6]:
#This is for HW5
import os
import pandas as pd

In [14]:
# Read CSV files

city_path = os.path.join('raw_data', 'city_data.csv')
ride_path = os.path.join('raw_data', 'ride_data.csv')

city_data = pd.read_csv(city_path)
ride_data = pd.read_csv(ride_path)

city_data
ride_data.head()

          city                 date   fare        ride_id
0     Sarabury  2016-01-16 13:49:27  38.35  5403689035038
1    South Roy  2016-01-02 18:42:34  17.49  4036272335942
2  Wiseborough  2016-01-21 17:35:29  44.18  3645042422587
3  Spencertown  2016-07-31 14:53:22   6.87  2242596575892
4   Nguyenbury  2016-07-09 04:42:44   6.28  1543057793673

In [ ]:
## BUBBLE PLOT

# Retrieve the desired values in dataframe, groupBy city

# Average Fare ($) Per City


# Total Number of Rides Per City


# Total Number of Drivers Per City


# City Type (Urban, Suburban, Rural)

In [ ]:
## PIE CHART 1
# % of total fares by city type

In [ ]:
## PIE CHART 2
# % of total rides by city type

In [ ]:
## PIE CHART 3
# % of total drivers per city type

In [ ]:
# Don't forget
# include written description of 3 observalble trends
# Plot Titles, Axes Labels, Legend Labels, Wedge Percentages, and Wedge Labels
# You must stick to the Pyber color scheme (Gold, Light Sky Blue, and Light Coral) in producing your plot and pie charts.
# When making your Bubble Plot, experiment with effects like alpha, edgecolor, and linewidths.
# When making your Pie Chart, experiment with effects like shadow, startangle, and explosion.
# You must include an exported markdown version of your Notebook called  README.md in your GitHub repository.